bcrypt==3.2.2; python_version >= "3.6"
cffi==1.15.1; python_version >= "3.6"
colorama==0.4.4; python_version >= "3.5" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.5" and python_full_version >= "3.5.0"
cryptography==41.0.4; python_version >= "3.6"
loguru==0.6.0; python_version >= "3.5"
paramiko==3.4.0
pycparser==2.21; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pynacl==1.5.0; python_version >= "3.6"
python-dotenv==0.21.1; python_version >= "3.5"
scp==0.14.4
six==1.16.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
win32-setctime==1.1.0; sys_platform == "win32" and python_version >= "3.5"
